<!DOCTYPE html>
<html>
<head>
    <title>AI Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI Interview Simulator</h1>

    {% if not category %}
        <form method="POST">
            <h2>Select Category</h2>

            <button name="category" value="HR">HR</button>
            <button name="category" value="Technical">Technical</button>
            <button name="category" value="Aptitude">Aptitude</button>
        </form>

    {% else %}
        <form method="POST">
            <p>Question {{ current + 1 }} / {{ total }}</p>

<div class="progress-bar">
    <div class="progress" style="width:
     {{ (current / total) * 100 }}%"></div>
</div>
            <h2>{{ question }}</h2>

            <input type="text" name="answer" placeholder="Type your answer..." required>

            <button type="submit">Next</button>

            <p>{{ feedback }}</p>
        </form>
    {% endif %}

</div>

</body>
</html>
